<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Animal Herd Detection</title>
</head>
<body>
    <div><b><h1>Welcome to Animal Herd Detection</h1></b>
    <p>Upload an image to detect animals.</p>
    
    <!-- Upload Button -->
    <a href="{{ url_for('upload_image') }}" class="upload-btn">Upload an Image</a></divdiv>
    
</body>
</html>
