body {
    background: linear-gradient(135deg, #8e58e6, #a32d7f);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-style: italic;
}

.container {
    width: 60%;
    max-width: 700px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px; 
}

p {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 50px; /* Space between instruction and upload link */
}

a {
    font-size: 18px;
    color: #ff00b3;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    color: #00ffcc;
    text-decoration: underline;
}


/* Upload Form Styles */
.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px; /* Adds space between elements */
    padding: 20px;
}

/* Style for the file input */
input[type="file"] {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: rgb(2, 250, 176);
    font-size: 16px;
    cursor: pointer;
}

/* Style for the upload button */
button {
    background-color: #ff0099; /* Pink button */
    color: rgb(255, 255, 255); /* White text for better contrast */
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

/* Hover effect for the button */
button:hover {
    background-color: #cc007a; /* Slightly darker pink */
}


/* Style uploaded image in detection page */
.detected-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #2837a7; /* Green border */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.217);
    margin-bottom: 20px;
}

/* Upload another image link (Detection Page) */
.upload-link {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #ff0073; /* Blue */
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
    width: fit-content;
    margin: 0 auto;
}

.uploadfile--link:hover {
    background-color: #55ebe3; /* Darker blue */
}
